venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
db.sqlite3
datadump.json
postgres_backup.sql
.git/
.gitignore
services/results/*.json
services/results/*.csv
services/results/*.log
.vscode/
.idea/
*.swp
.DS_Store
Dockerfile
docker-compose.yml
.dockerignore
README.md
