# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
.env/
.venv/

# Django stuff
*.log
local_settings.py

# Media / static builds (optional depending on setup)
media/
staticfiles/

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Scraper outputs (IMPORTANT for your project)
results/
*.csv
*.json

# Env files
.env
