{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MSc Deadlines — Study in Greece</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'core/css/base.css' %}">

</head>
<body>
<header class="hdr">
  <div>
    <span class="hdr-logo">MSc Deadlines <span>— Study in Greece</span></span>
  </div>
  <div class="hdr-right">
    <span style="font-size:11px;color:#aaa;">{{ user.username }}</span>
    <form method="post" action="{% url 'logout' %}" style="margin:0;">
      {% csrf_token %}
      <button type="submit" class="btn-logout">Logout</button>
    </form>
  </div>
</header>

<main class="dashboard">

<a href="/scraper/" class="card card-action" id="run-scraper">
    <div class="card-content">
      <div class="icon">⚙️</div>
      <h2>Scraper</h2>
      <p>Run the scraper tool<br>Click to start</p>
    </div>
</a>


<a href="/results/" class="card card-action" id="run-scraper">
    <div class="card-content">
      <div class="icon">🛢️</div>
      <h2>Internal Database Records</h2>
      <p>Get currenlty saved records<br>Click to view</p>
    </div>
</a>

<a href="/sync/" class="card card-action" id="run-scraper">
    <div class="card-content">
      <div class="icon">🔄</div>
      <h2>Sync</h2>
      <p>Sync internal database with the API<br>Click to view</p>
    </div>
</a>
</body>
</main>