{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/base.css' %}">
{% endblock %}

{% block content %}
<main class="dashboard">
  <a href="/scraper/" class="card card-action text-center" style="padding: 60px 48px;">
    <div class="card-body p-0">
      <div class="card-icon">⚙️</div>
      <h5 class="card-title">Scraper</h5>
      <p class="card-text">Run the scraper tool<br>Click to start</p>
    </div>
  </a>

  <a href="/results/" class="card card-action text-center" style="padding: 60px 48px;">
    <div class="card-body p-0">
      <div class="card-icon">🛢️</div>
      <h5 class="card-title">Internal Database Records</h5>
      <p class="card-text">Get currently saved records<br>Click to view</p>
    </div>
  </a>

  <a href="/sync/" class="card card-action text-center" style="padding: 60px 48px;">
    <div class="card-body p-0">
      <div class="card-icon">🔄</div>
      <h5 class="card-title">Sync</h5>
      <p class="card-text">Sync internal database with the API<br>Click to view</p>
    </div>
  </a>
</main>
{% endblock %}